################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DCBill.Server/bin/Debug/net10.0
/DCBill.Server/obj
/LMS.Core/bin
/LMS.Core/obj
/LMS.Repository/bin
/LMS.Repository/obj
/.vs
/dcbill.client/obj/Debug
/DCBill.Server/bin
